.container{
    padding-left: 10vw;
    margin-top: 3%;
}

.flexGrid{
    display: flex;
    flex-wrap: wrap;
}

.title{
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 3%;
}

.button{
    border: 1px solid black;
    border-radius: 2rem;
    font-size: 15px;
}

/* @media only screen and (max-width: 600px) {
    .flexGrid {
    display: block;
    justify-content: center;
    }
} */