.content {
    flex: 1;
    margin-right: 5%;
    margin-bottom: 3%;
    border: 1px solid black;
    max-width: 27vh;
    height: 27vh;
    padding-left: 10px;
    color: #06069A;
}

.content:hover{
    background-color: #06069A;
    color: white;
}

.content h1 {
    width: 25vh;
    font-size: 4vh;
    font-weight: normal;
    line-height: 1em;
    font-family: "Vollkorn";
}

.content h3 {
    font-size: 1.5vh;
    line-height: 1em;
    font-weight: normal;
}

.body{
    padding-left: 10vw;
    line-height: 1.4rem;
}