@import url("https://fonts.googleapis.com/css?family=Vollkorn&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Vollkorn" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
